*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
    color: black;
}
/* -------------------------------------------------------- */
.font-size-15{
    font-size: 15px;
}
.font-size-14{
    font-size: 14px;
}
.text-color-white{
    color: white;
}
.horizontal-padding-0-15{
    padding: 0px 15px;
}
.flex-item{
    display: flex;
}
.background-color-efefef{
    background-color: #EFEFEF;
}
.width-100{
    width: 100%;
}
.text-center{
    text-align: center;
}
.padding-top-20{
    padding-top: 20px;
}
/* -------------------------------------------------------- */
.wrap{
    width: 1024px;
    margin: 0 auto;
}
.header{
    width: 100%;
    background-color: white;
}
.header-content{
    padding: 0 40px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-menu__item{
    width: 100px;
    text-align: right;
}
.header-logo__heading{
    border: 2px solid black;
    padding: 2px 16px;
}
/* ------------------------------------------------ */
.main-introduce__description{
    line-height: 24px;
    padding: 20px 220px;
}
.main-item__detail{
    background-color: white;
    padding: 15px;
    margin-top: -8px;
}
.main-item__date{
    font-weight: 600;
    color: #FFB800;
}
.main-item__name{
    padding-bottom: 10px;
    font-size: 16px;
}
.main-btn-center{
    padding: 35px 0px;
    text-align: center;
}
.btn-view{
    width: 160px;
    height: 38px;
    background-color: #FFB800;
    border-radius: 20px;
    border: none;
    outline: none;
}
/* ----------------------------------------------------------- */
.footer-content{
    padding: 0px 15px;
    height: 60px;
    background-color: black;
    display: flex;
    align-items: center;
}
.footer-content__alias{
    padding: 0px 15px;
    flex: 1;
}
