body{
	margin: 0px auto;
	max-width: 1024px;
}
.headerContent{
}
#headerTop{
background-color:yellow;
height: 100px;
}
#headerTopLeft{
float:left;
width: 50%;
}
#headerTopRight{
	float: right;
    width: 49%;
    height: 100%;
}
#headerBot{
height: 50px;
background-color:green;
}
.menuCommon ul li{
	list-style-type: none;
	float: left;
	padding:0px 10px;
	font-weight: bold;
	line-height: 30px;
}
#search{
	margin-left: 10px;
	border-radius: 10px;
	height: 25px;
	width: 180px;
	margin-right: 20px;
}
#inforTell{
	float: right;
	line-height: 0px;
	margin-right: 40px;
}
#inforTell h2{
font-size: 30px;

}
.menuHeader ul li{
padding:0px 25px;
line-height:0px;
}
.menuHeader ul li a{
font-size: 30px;
}
/*--------body ---------*/
.bodyContent{
	margin-top: 0px;
background-color:blue;

}


/*------- footer---------*/
.footerContent{
background-color: green;

}
.clear{
clear: both;
}