*{
    margin: 0;
    padding: 0;
}

.a-component {
    height: 119%;
    width: 50%;
    float: left;
}

.a-compoent-content {
    width: 56%;
    float: left;
    margin-left: 3%;
}

.a-compoent-content span {
    font-size: 30px;
    font-weight: bold;
    color: orange;
}

.a-compoent-content h1 {
    text-transform: uppercase;
    font-size: 25px;
}

.a-compoent-content p {
    font-size: 17px;
}

.a-component a {
    display: block;
    float: left;
}

.list-components {
    width: 96%;
    margin: 2% auto;
    height: 19%;
}

h1.doitnow {
    color: orange;
    float: left;
    margin-top: 16px;
}

.content-banner>a {
    float: left;
    margin: 12px 0px 0 32px;
    display: block;
    width: 100px;
    height: 27px;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 19px;
    line-height: 27px;
    background-color: orange;
    border-radius: 9%;
}

.content-banner h1 {
    font-size: 26px;
    text-transform: uppercase;
    padding: 1px 0 6px 0;
}

.banner {
    width: 100%;
}

.content-banner {
    width: 48%;
    float: left;
    margin-left: 2%;
}

.content-banner ul li {
    margin-left: 3%;
    margin-top: 15px;
}

.content-banner ul li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.content-banner p {
    font-size: 19px;
}

section {
    width: 96%;
    margin: auto;
    border-bottom: 1px dotted;
    height: 62%;
}

body,html {
    width: 100%;
    height: 100%;
    font-family: initial;
}

h1.title {height: 80px;line-height: 80px;color: turquoise;font-size: 43px;}

.logo {
    width: 200px;
    height: 50px;
    float: left;
}

.menu {
    float: right;
    width: 304px;
    height: 50px;
}

.menu>ul>li {
    list-style: none;
    float: left;
    width: 60px;
    text-align: center;
    margin-top: 5%;
    border-left: 1px solid;
}

.menu>ul>li>a {
    text-decoration: none;
    color: black;
}
.menu>ul>.li-NoBoderLeft{
    border-left: none;
}
header {
    width: 96%;
    margin: auto;
    height: 50px;
    border-bottom: 1px dotted black;
}
.img-banner{
    float: left;
    width: 50%;
}
.list-components div.a-component:nth-child(2){
    width: 48%;
    margin-left: 2%;
}