* {padding: 0px; margin: 0px;}

body {
    background-color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    background-color: white;
    width: 1000px;
    margin: auto;
    padding: 10px;
}

.nav-bar {
    border-bottom: 2px dotted gray;
    height: 60px;
    line-height: 60px;
}

.nav-bar .logo {
    font-size: 30px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
}

.nav-bar ul.categories {
    list-style: none; 
    text-transform: uppercase;
    float: right;
}

.nav-bar .categories li.category {
    display: inline;
}

.nav-bar .categories .category a {
    text-decoration: none;
}

.first-post {
    border-bottom: 2px dotted gray;
    width: 100%;
}

.first-post .first-post-body {
    width: 100%;
    height: 360px;
}

.first-post .first-post-headline {
    color: blue;
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: bold;
}

.first-post .first-post-left {
    float: left;
    width: 47%;
}

.first-post .first-post-left img {
    width: 100%;
}

.first-post .first-post-right {
    float: right;
    width: 47%;
}

.post-title {
    font-weight: bold;   
    font-size: 20px; 
    text-decoration: none;
    color: black;
}

p.description {
    margin-top: 10px;
    margin-bottom: 10px;
    color: gray;
}

.first-post .first-post-right ul.related-posts {
    font-size: 14px;
    margin-left: 20px;
}

.first-post .first-post-right .related-posts li {
    margin-bottom: 5px;
}

.first-post .first-post-right .related-posts a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.first-post .advertise {
    margin-top: 30px;
    color: red;
}

.first-post .advertise .advertise-text {
    font-size: 30px;
    margin-right: 20px;
}

.first-post .advertise .advertise-btn {
    color: white;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding-top: 10px;
}

.first-post .advertise .advertise-btn span {
    display: inline-block;
    background-color: red;
    width: 100px;
    height: 35px;
    line-height: 35px;
    border-radius: 18px;
}

.container .posts{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.container .posts .left-posts, .right-posts{
    width: 48%;
    display: flex;
}

.container .posts .post-img{
    width: 35%;
}

.container .posts .post-img img{
    width: 100%;
}

.container .posts .post-body{
    width: 60%;
    margin-left: 20px;
}